html *
{
   background-color: black;
   color: white;
}

table, th, td {
  border: 2px solid white;
  padding: 5px;
  border-collapse: collapse;
  margin-bottom: 10px;
  min-width:550px;
  max-width:1600px;
  font-size: 14px;
  width:70%;
}

/* td:situationtext {
  height: 400px;
} */