html *
{
   background-color: black;
   color: white;
}

table, th, td {
  overflow-wrap: break-word;
  border: 2px solid white;
  padding: 5px;
  border-collapse: collapse;
  margin-bottom: 10px;
  min-width:550px;
  max-width:1600px;
  font-size: 14px;
  width:70%;
}

li {
	padding-left: 10px;
}

a {
	cursor: pointer;
}

div {	
  font-family: Georgia, serif;
}

#tryagaingame {
    bottom: 0;
    right: 0;
    text-align:right;
    vertical-align:bottom;
}
